<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    Login
    <form method="post" action="/login">
        <input type="text" name="nome" placeholder="Nome completo" required>
        <input type="email" name="email" placeholder="Seu melhor email" required>
        <input type="password" name="senha" placeholder="Sua melhor senha" required>
        <button type="submit">Logar</button>
    </form>

</body>
</html>